In [16]:
# Khai báo packages sẽ sử dụng

import os
import json
import requests
import folium
import pandas as pd

import sqlalchemy as db
import numpy as np

import ipywidgets as widgets
import ipyleaflet as leaflet

from branca.colormap import linear
from ipywidgets import interact
from IPython.display import display

In [17]:
# Kết nối với csdl foxience
engine = db.create_engine('mysql+pymysql://foxience:lab1.foxience.org@lab1.foxience.org:3306/medical')
conn = engine.connect()
meta = db.MetaData()
tbl = db.Table('health_us_2019', meta, autoload=True, autoload_with=engine)

url = 'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data'
us_states = f'{url}/us-states.json'
res = requests.get(us_states)
geo_json_data = json.loads(res.text)

In [28]:
outcomes = ['CHD', 'COPD']
select = widgets.Select(
    options=outcomes,
    value='CHD'
)
map = leaflet.Map(center = (43, -100), zoom=4)
def f(outcome):
    query = db.text("""
    select
    StateAbbr,
    avg(Data_Value)
    from health_us_2019
    where MeasureId = '{outcome}'
    and DataValueTypeID = 'AgeAdjPrv'
    group by StateAbbr
    """.format(outcome=outcome))
    res = conn.execute(query)
    dataset = pd.DataFrame(res, columns=['StateAbbr', 'Value'])
    data = dict(zip(dataset['StateAbbr'].tolist(), dataset['Value'].tolist()))
    layer = leaflet.Choropleth(
        geo_data=geo_json_data,
        choro_data=data,
        colormap=linear.YlOrRd_04,
        border_color='black',
        style={'fillOpacity': 0.8, 'dashArray': '5, 5'}
    )
    map.add_layer(layer)
interact(f, outcome=select)
display(map)

interactive(children=(Select(description='outcome', options=('CHD', 'COPD'), value='CHD'), Output()), _dom_cla…

Map(basemap={'url': 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', 'max_zoom': 19, 'attribution': 'Map …

In [27]:
dataset

   StateAbbr     Value
0         AK  5.000000
1         AL  6.583333
2         AR  6.560000
3         AZ  5.208333
4         CA  4.998347
5         CO  4.642857
6         CT  5.787500
7         DC  4.700000
8         DE  6.500000
9         FL  6.293939
10        GA  6.109091
11        HI  4.000000
12        IA  5.666667
13        ID  5.300000
14        IL  5.550000
15        IN  6.554545
16        KS  5.583333
17        KY  6.850000
18        LA  6.750000
19        MA  5.630769
20        MD  6.100000
21        ME  5.200000
22        MI  6.318750
23        MN  4.857143
24        MO  6.137500
25        MS  6.950000
26        MT  5.100000
27        NC  5.635714
28        ND  5.400000
29        NE  5.550000
30        NH  5.550000
31        NJ  6.844444
32        NM  5.025000
33        NV  5.820000
34        NY  6.144444
35        OH  7.644444
36        OK  6.200000
37        OR  5.275000
38        PA  7.014286
39        RI  5.700000
40        SC  5.720000
41        SD  5.700000
42        TN  6.550000
43        TX  5.895745
44        US  5.600000
45        UT  5.222222
46        VA  5.700000
47        VT  5.800000
48        WA  5.307143
49        WI  5.485714
50        WV  7.100000
51        WY  5.200000