In [1]:
import sqlalchemy as db
import pandas as pd
import sqlparse as sql

In [2]:
engine = db.create_engine('mysql+pymysql://foxience:lab1.foxience.org@lab1.foxience.org:3306/foxience')

In [9]:
conn = engine.connect()
meta = db.MetaData()
dInt = db.Table('drug_interactions', meta, autoload=True, autoload_with=engine)

In [10]:
pd.set_option('display.max_colwidth', -1)

In [5]:
# Find all interactions with Abacavir
query = db.select([dInt]) \
    .where(dInt.columns.drug1.like('%Abacavir%')) \
    # .where(dInt.columns.severe == 1)
# print(sql.format(str(query), reindent=True))

In [11]:
res = conn.execute(query)
pd.DataFrame(res, columns=dInt.columns)

,drug_interactions.id,drug_interactions.drug1,drug_interactions.drug2,drug_interactions.severe,drug_interactions.description
0,1920,Metformin,Prednisolon,0,Đối kháng với tác dụng giảm glucose - huyết
1,2368,Prednisolon,Metformin,0,Đối kháng với tác dụng giảm glucose - huyết
2,2387,Prednisolon,Warfarin,1,Tác dụng chống đông máu có thể bị thay đổi

In [ ]:
# Find all interactions in your medications
medications = [
    'warfarin',
    'metformin',
    'clopheniramin',
    'prednisolon',
]

query = db.select([dInt]) \
    .where(dInt.columns.drug1.in_(medications) & dInt.columns.drug2.in_(medications)) \
    # .where(dInt.columns.severe == 1)
# print(sql.format(str(query), reindent=True))

In [12]:
res = conn.execute(query)
pd.DataFrame(res, columns=dInt.columns)

,drug_interactions.id,drug_interactions.drug1,drug_interactions.drug2,drug_interactions.severe,drug_interactions.description
0,1920,Metformin,Prednisolon,0,Đối kháng với tác dụng giảm glucose - huyết
1,2368,Prednisolon,Metformin,0,Đối kháng với tác dụng giảm glucose - huyết
2,2387,Prednisolon,Warfarin,1,Tác dụng chống đông máu có thể bị thay đổi